.bg-mynav {
    background-color: #fe2f00;
  }
  
  body {
    font-size: 1.25rem;
    background-color: #f6f8fa;
  }
  
  td {
    line-height: 3rem;
  }
  .form-group{
    width: 400px;
    padding: 25px 0 0 25px;

  }
  #submitNewMember{
    margin: 25px;
  }